.button {
    width: 119px;
    height: 56px;
    padding: 16px 32px;
    cursor: pointer;
    transition: background 0.25s;
    
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.button:hover {
    background: #222096;
}

.accent {
    color: white;
    background: rgba(123, 110, 246, 1);
    border: 2px solid rgba(123, 110, 246, 1);
    border-radius: 12px;
    opacity: 0px;
}