.card{
    position: relative;
}

.film-rating{
    position: absolute;
    display: flex;
    margin: 20px;
    background: rgba(0, 0, 0, 0.65);
    width: 65px;
    height: 32px;
    color: rgba(255, 173, 73, 1);
    align-items: center;
    gap: 4px;
    border-radius: 10px;
}

.favourite{
    display: flex;
    gap: 10px;
}